
.bgImg{
 
    background: url(./assets/desktop-wallpaper-website-background-website-login-page-background\ 1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.card_class{
 
  background-color: #EDE9E9;
  margin-top: 20%;
  border-radius: 30px;
}

@media screen and (max-width: 780px) { 

  .imgClass{ display: none; }
  .form_container{
   align-self: center;

  } 

  
  }
  @media screen and (max-width:400px) {
    .loginContainer{
      column-gap: 4/5;
    }
  }